<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/maincss.css" />
  </head>
  <body>
    <h1 class="isinput">administration site</h1>
   

      <form class="form-container" action="/administration/salaryallot" method="post">
        <input class="isinput" type="text" name="name" id="name" placeholder="enter name here" />
        <input class="isinput" type="number" name="salary" id="salary" placeholder="enter salary here" />
        <input class="isinput" type="month" name="month" id="month" placeholder="enter month here" />
        <button class= "submitbtn" type="submit" value="data-entry">submit data</button>
      </form>
      <a href="/administration/logout"><button class="submitbtn">log out</button></a>
  </body>
</html>