<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/maincss.css">
  </head>
  <body>
    <h1 class="isinput">salary site</h1>
    <div class="container">

      <form action="/client/salary" class="form-container" method="POST">
        <input class="isinput" type="text" name="name" id="name" />
        <input class="isinput" type="month" name="month" id="month">
        <button class="submitbtn"type="submit">check salary </button>
      </form>

    </div>

  </body>
</html>