<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>salaryresult page</title>
    <link rel="stylesheet" href="/salaryresult.css">
  </head>
  <body>
   
    <div class="container">
        <h1 id="h1tag">salary allocated at <i>{{user.month}} </i></h1>
        <h2 class="dynamicobj">name: <i> {{user.name}}</i></h2>
        <h2 class="dynamicobj">salary: <i> {{user.salary}}</i></h2>
        <h2 class="dynamicobj">month: <i>{{user.month}}</i></h2>
        <p class="dynamicobj"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum, alias nesciunt, iste mollitia exercitationem repellendus nisi minus tenetur porro sunt delectus, Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam excepturi consectetur officia illo molestias a ex beatae dolore, rem minima inventore quia explicabo sapiente? harum eligendi.</p>
    </div>

  </body>
</html>