<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="\home.css">
  </head>
  <body>
    <div class="container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores aut molestias recusandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti aut rerum velit repellat totam, et odio ex a laboriosam. Consequuntur quae eos illum, nobis, dolores qui dolore deleniti explicabo pariatur architecto rem asperiores dolor laudantium facilis soluta unde laborum, doloremque mollitia? Incidunt alias animi nihil! Tempore veniam dolor magnam dignissimos, unde est voluptate repellat sapiente dolore impedit pariatur ipsa vitae quas ea, blanditiis soluta voluptatem sit nesciunt aliquid asperiores quibusdam et architecto eaque. Eius facilis veniam porro accusantium aspernatur maxime unde! Libero dolorem praesentium ullam laboriosam. Inventore aspernatur quisquam, veritatis itaque suscipit provident minus odio fugit obcaecati a tempore, non quod dignissimos esse sint quidem, perspiciatis necessitatibus eaque sequi. Architecto, deserunt soluta? Dicta minima quaerat distinctio blanditiis rem expedita quo minus dolorem pariatur.</p>
        <h2>go to adminstration site for allocating salary <a href="/administration/signin">click here</a></h2>
        <h2>go to salary site for details of salary <a href="/client/salary">click here</a></h2>


        
    </div>

  </body>
</html>