<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="container">
        <h1>National Institute of Technology AP: intership project</h3>
        <div class="subcontainer">
            <h2>link to administration site</h2>
            <a href="/administration/signin"><button class="btn">admin site</button></a>
        </div>
        <div class="subcontainer">
            <h2>link to client site</h2>
            <a href="/client/salary"><button class="btn">client site</button></a>
        </div>
    </div>
    <div class="secondc">
        <h1>PROJECT members</h1>
        <ul>
            <li><h2>fasdlkj;: cs21b00k3</h2></li>
            <li><h2>fasdlkj;: cs21b00k3</h2></li>
            <li><h2>fasdlkj;: cs21b00k3</h2></li>
            <li><h2>fasdlkj;: cs21b00k3</h2></li>
            <li><h2>fasdlkj;: cs21b00k3</h2></li>
        </ul>
       
    </div>
    
</body>
</html>