*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: center;
    background-color: antiquewhite;
}
h1{
    margin: 23px 0;
}
.subcontainer{
    margin: 0 0;
    display: flex;
    justify-content: center;
}
.btn{
    margin: 12px 12px;
    padding: 7px 12px;
    border-radius: 12px;
    color: white;
    background-color: black;

}
.btn a{
    text-decoration: none;
    color: white;
}
.secondc{
    background-color: antiquewhite;
    margin: 2px auto;
    width: 80vw;
}
.secondc h1{
    text-align: center;
}
.secondc ul{
    margin-left: 23px;
}